@font-face {
    font-family: myFont;
    src: url(../webfonts/Cairo-VariableFont_slnt\,wght.ttf);
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont, sans-serif;
}

:is(ul) {
    list-style: none;
}

:is(li) {
    display: inline-block;
}

:is(a) {
    text-decoration: none;
    color: black;
}

nav,
ul,
.hero-section,
.title,
.articles-container,
.articles-main,
.gallery-container,
.gallery-item,
.features-container,
.feature-more,
.testim-container,
.testim-img,
.services-container,
.service-top,
.skills-container,
.skills-left,
.skills-right,
.work-step-text,
.events-container,
.event-details,
.event-sub,
.videos-container,
#stats,
.stats-container,
.stat,
.discounts-left,
.discounts-right,
.discounts-right form,
.footer-col:last-child,
.footer-social,
.footer-social a,
.footer-cr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    display: flex;
    justify-content: center;
    align-items: left;
}

header,
.how-work-container,
.work-step,
.sub-cont,
.times,
.pricing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mega-menu,
.article-more,
.service-bottom,
.skill-row-1,
.videos-left li:first-child,
.videos-right,
#discounts,
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-transform: uppercase;
    margin: auto;
    border: 2px solid black;
    padding: 0.5vh;
    font-size: 2em;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border-radius: 50%;
}

.title::before {
    left: -30px;
}

.title::after {
    right: -30px;
}

.title:hover::before {
    animation: before-left 0.5s linear forwards;
}

.title:hover::after {
    animation: after-right 0.5s linear forwards;
}

.title:hover {
    color: white;
    border: 2px solid var(--main-color);
}

@keyframes before-left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes after-right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.zigzag {
    width: 100%;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 30px;
        z-index: 1;
        background-image: linear-gradient(135deg, white 25%, transparent 25%),
            linear-gradient(225deg, white 25%, transparent 25%);
        background-size: 30px 30px;
    }
}

.dots {
    width: 250px;
    height: 250px;
    background-image: url("../imgs/dots.png");
    background-repeat: no-repeat;
    position: absolute;
    /* z-index: 0; */
}

.dots:first-child {
    top: 20%;
    right: 0;
}

.dots:last-child {
    bottom: 30px;
    left: 0;
}

/************************************* HEADER ***************************/
header {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(124, 123, 123, 1);
}

.logo {
    width: 15%;
    text-align: center;

    a {
        font-size: 1.9em;
        font-weight: 800;
        color: var(--main-color);
    }
}

nav {
    width: 45%;
    height: 100%;

    &>ul {
        height: 100%;

        li {
            position: relative;
            padding: 1.5vh 1.5vw;
            height: 100%;

            a {
                font-size: 1.2em;
                padding: 5px 10px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 3px;
                background-color: var(--main-color);
                transition: var(--main-transition);
            }

            &:hover {
                background-color: #fffcfcd3;
            }

            &:hover::before {
                width: 100%;
            }

            &:hover a {
                color: var(--main-color);
            }
        }
    }
}

.mega-menu {
    position: absolute;
    width: 1080px;
    height: 370px;
    top: 8vh;
    left: -550%;
    background-color: white;
    border-bottom:3px solid var(--main-color);
    border-top: 1px solid rgb(231, 229, 229);
    padding: 20px;  
    transition: all 0.5s ease;
    display: none;
    opacity: 0;
    transform: translateY(50px);
    z-index: -1000;
    img{
        display: block;
        width: 410px;
        height: 300px;
    }
  
}
.mega:hover .mega-menu{
    display: flex;
    opacity: 1;
    z-index: 5;
    transform: translateY(0px);
}
.menu{
    flex-direction: column;
    text-align: left;
    width: 35%;
    padding: 40px;
    li{
        width: 100%;
        padding: 10px 10px;
        color: var(--main-color);
        font-weight: 700;
        font-size: 0.9em;
        i{
            margin: 10px;
        }
    }
    li:not(:last-child){
        border-bottom: 1px solid rgb(231, 229, 229);
    }
    li::before{
        content: "";
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgb(231, 229, 229,0.9);
        transition: all 0.3s ease;
        z-index: -1;
    }
    li:hover{
        background-color:rgba(231, 229, 229, 0.723) ;
    }
    li:hover::before{
        width: 100%;
    }
}



/******************************** HERO SECTION ****************************/
.hero-section {
    width: 100%;
    height: 100vh;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    overflow: hidden;
    background-color: var(--section-background);
    position: relative;
}

.hero-left {
    width: 40%;
    height: 80%;
    flex-direction: column;

    h1 {
        font-size: 2.8em;
        font-weight: 800;
    }

    p {
        font-size: 1.7em;
        line-height: 1.7;
        color: gray;
    }
}

.hero-right {
    width: 40%;
    height: 80%;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        animation: up-down 3s alternate infinite;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(-30px);
    }
}

.hero-down {
    position: absolute;
    bottom: 8vh;
    color: #1787e0;
    animation: pop-down 1s infinite;
}

@keyframes pop-down {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/*************************************** ARTICLES *************************/
#articles {
    padding-top: var(--main-padding-top);
    background-color: white;
    height: 100%;
    position: relative;
}

.articles-container,
.gallery-container {
    width: 100%;
    height: 100%;
}

.articles-main {
    height: 100%;
    width: 95%;
    gap: 5vh;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    flex-wrap: wrap;
}

.article {
    width: 260px;
    height: 60%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(204, 204, 204);
    overflow: hidden;
    transition: all .3s ease;
}

.article-img {
    width: 100%;
    height: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article-info {
    width: 100%;
    height: 50%;
    padding: 1.5vh 1vw;

    h3 {
        font-weight: 700;
    }

    p {
        color: gray;
        font-size: 1em;
    }
}

.article-more {
    width: 100%;
    height: 50%;
    padding: 1.5vh 1vw;
    border-top: 1px solid rgb(228, 225, 225);

    a {
        font-weight: 700;
    }

    i {
        transition: all .3s ease;
    }

    a,
    i {
        color: var(--main-color);
    }

}

.article:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px gray;
}

.article:hover .fas {
    animation: left-right 1s infinite;
}

@keyframes left-right {
    0% {
        transform: translateX(-8px);
    }

    100% {
        transform: translateX(5px);
    }

}


/*********************************** GALLERY ***************************/
#gallery {
    background-color: var(--section-background);
    padding-top: var(--main-padding-top);
    width: 100%;
    height: 100%;
}

.gallery-container {
    width: 90%;
    margin: auto;
    height: 100%;
    flex-wrap: wrap;
    gap: 5vh;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);

}

.gallery-item {
    width: 350px;
    height: 70%;
    padding: 2vh;
    overflow: hidden;
    background-color: white;
}

.gallery-img {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(248, 248, 248, 0.5);
    }
}

.gallery-img:hover {
    img {
        scale: 1.15;
        rotate: 3deg;
    }

    &::after {
        animation: zoom-img 1.3s ease;
    }
}

@keyframes zoom-img {
    0% {
        width: 0%;
        height: 0%;
    }

    50% {
        width: 200%;
        height: 200%;
    }

    100% {
        opacity: 0;
    }
}


/*********************************** FEATURES ***************************/

/* green rgba(52,150,136,255) */
/* red rgba(232,60,49,255)*/
/* blue rgba(58,171,247,255)*/

#features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    width: 100%;
    height: 100%;
    background-color: white;
}

.features-container {
    width: 90%;
    margin: auto;
    height: 100%;
    flex-wrap: wrap;
    gap: 5vh;
    padding-top: var(--main-padding-top);
}

.feature {
    width: 370px;
    height: 80%;
    overflow: hidden;
    background-color: white;
    border: rgb(168, 167, 167) 1px solid;
}

.feature-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;

    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;

    }
}

.feature-info {
    text-align: center;
    padding: 2vh;

    h3 {
        font-size: 2.4em;
        text-transform: uppercase;
        display: inline;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 4px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    p {
        margin-block: 2.5vh;
        line-height: 1.8;
        color: gray;
        font-size: 1.3em;
    }

}

.feature:first-child h3::after {
    background-color: rgba(232, 60, 49, 255);
}

.feature:nth-child(2) h3::after {
    background-color: rgba(52, 150, 136, 255);
}

.feature:last-child h3::after {
    background-color: rgba(58, 171, 247, 255);
}

#btn-feature-more-1,
#btn-feature-more-2,
#btn-feature-more-3 {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 2.6vh;
    border: 2px solid;
    border-radius: 10px;
    transition: background-position .5s ease;

    &:hover {
        background-position: -100% 0;
        color: white;
    }
}

#btn-feature-more-1 {
    color: rgba(232, 60, 49, 255);
    border-color: rgba(232, 60, 49, 255);
    position: relative;
    background: linear-gradient(to right, white 50%, rgba(232, 60, 49, 255) 50%);
    background-size: 200% 100%;
}

#btn-feature-more-2 {
    background: linear-gradient(to right, white 50%, rgba(52, 150, 136, 255) 50%);
    background-size: 200% 100%;
    color: rgba(52, 150, 136, 255);
    border-color: rgba(52, 150, 136, 255);
}

#btn-feature-more-3 {
    background: linear-gradient(to right, white 50%, rgba(58, 171, 247, 255) 50%);
    background-size: 200% 100%;
    color: rgba(58, 171, 247, 255);
    border-color: rgba(58, 171, 247, 255);
}



/*************************** TESTIMONIALS ***************************/
#testim {
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.testim-container {
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: var(--main-padding-top);
    gap: 40px;

    .fas {
        color: gold;
    }
}

.testim-member {
    position: relative;
    width: 350px;
    height: 30%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px #e0e0e0;
    padding: 15px;
}

.testim-member p {
    font-weight: 400;
    color: gray;
    font-size: 0.95em;
}

.testim-img {
    width: 95px;
    height: 95px;
    position: absolute;
    top: -45px;
    right: -10px;
    background-color: var(--section-background);
    border-radius: 50%;

    img {
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
}



/*************************** TEAM MEMBERS ***************************/
#team-members {
    width: 100%;
    height: 100%;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.team-members-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    margin: auto;
    padding-top: var(--main-padding-top);
}

.team-member {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 40%;
    margin: 50px 30px;

    img {
        width: calc(100% - 60px);
        border-radius: 10px;

    }
}

.team-member::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: var(--section-background);
    border-radius: 10px;
    z-index: -2;
    padding-block: 30px;
}

.team-member::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    z-index: -1;
    padding-block: 30px;
    transition: .3s ease;
}

.team-member:hover::after {
    width: calc(100% - 60px);
}

.team-member:hover img {
    filter: grayscale(100%);
}

.team-member:hover .team-info h3 {
    color: gray;
}

.team-social {
    width: 60px;
    display: flex;
    flex-direction: column;

    i {
        margin: 20px;
        color: gray;

    }

    i:hover {
        color: var(--main-color);
    }
}

.team-info {
    padding-block: 10px;

    h3 {
        font-size: 1.5em;
        color: var(--main-color);
    }
}



/*************************** SERVICES ***************************/

/* clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); */

#services {
    width: 100%;
    height: 100%;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.services-container {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 100%;
    padding-top: var(--main-padding-top);

}

.service {
    position: relative;
    width: 350px;
    height: 230px;
    background-color: white;
    box-shadow: gray 0 0px 5px;
    margin: 20px;
    transition: all .3s linear;
}

.service::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;
}

.service:hover {
    transform: translateY(-10px);

    &::before {
        width: 100%;
    }
}

.service-top {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #ffffff;

    h3 {
        color: #00acee;
        font-size: 1.5em;
        text-transform: capitalize
    }

    i {
        color: rgb(206, 204, 204);
    }
}

.service-bottom {
    background-color: rgb(246, 245, 245);
    height: 25%;
    width: 100%;

}

.details {
    color: var(--main-color);
    margin: 10px;
}

.inner,
.outer {
    display: block;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
}

.inner {
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    padding-inline: 10px;
    width: 80px;
    background-color: var(--main-color);
}

.outer {
    width: 130px;
    background-color: rgb(206, 204, 204);
}



/*************************** OUR SKILLS ***************************/
#our-skills {
    width: 100%;
    height: 100%;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.skills-container {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 100%;
    padding-top: var(--main-padding-top);
}

.skills-left {
    width: 50%;

    img {
        display: block;
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
}

.skills-right {
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.skill-row-1,
.skill-row-2 {
    margin: 10px 0;
    width: 600px;
    height: 30px;
    gap: 70%;

    span {
        width: 30px;
        padding-inline: 5px;
        height: 28px;
        font-size: 0.8em;
        border-radius: 2px;
        border: 1px solid rgb(206, 204, 204);
    }
}

.skill-row-2 {
    background-color: rgb(206, 204, 204);
    position: relative;
}

.skill-row-2::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    z-index: 1;
}

:is(#html, #python)::after {
    width: 80%;
}

#css::after {
    width: 85%;
}

#js::after {
    width: 70%;
}



/************************* HOW IT WORKS *************************/
#how-work {
    width: 100%;
    height: 100%;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.how-work-container {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 100%;
    padding-top: var(--main-padding-top);

    &>img {
        display: block;
    }
}

.work-steps {
    width: 45%;
    height: 100%;
    padding-left: 10px;
}

.work-step {
    position: relative;
    width: 98%;
    gap: 10px;
    padding: 20px 25px;
    margin-block: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(247, 245, 245);
    overflow: hidden;

    &>* {
        z-index: 1;
    }

    &>img {
        display: block;
        width: 80px;
        height: 80px;
    }
}

.work-step::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(224, 224, 224, 0.43);
    transition: 0.5s;
}

.work-step:hover::after {
    width: 100%;
    height: 100%;
}

.work-step-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &>h3 {
        font-size: 1.5em;
    }

    &>p {
        font-size: 1.1em;
        line-height: 1.7;
        color: gray;
    }
}



/************************** Events ****************************/
#latest-events {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
}

.events-container {
    width: 80%;
    margin: auto;
    padding-top: var(--main-padding-top);

    img {
        display: block;
        width: 450px;
        height: 450px;
    }
}

.event-details {
    width: 70%;
    flex-direction: column;
    row-gap: 20px;
    padding-block: 50px;
}

.event-title {
    font-size: 2em;
}

.times {
    gap: 10px;
}

.time-unit {
    width: 80px;
    border: rgb(247, 245, 245) 1px solid;
    border-radius: 6px;

    span {
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    span:first-child {
        font-size: 35px;
        padding: 10px;
        font-weight: 700;
        color: var(--main-color);
    }

    span:last-child {
        border-top: rgb(247, 245, 245) 1px solid;
    }
}

.time-unit:hover {
    border-color: var(--main-color);
}

.time-unit:hover span:last-child {
    border-color: var(--main-color);
}

.event-desc {
    font-size: 1.3em;
    line-height: 1.7;
    color: gray;
    text-align: center;
}

.event-sub {
    padding: 30px;
    padding-bottom: 0;
    width: 80%;
    margin: auto;
}

.sub-cont {
    width: 50%;
    background-color: rgba(224, 224, 224, 0.43);
    padding: 30px;
    border-radius: 45px;
}

.sub-cont input {
    width: 350px;
    padding: 10px 20px;
    font-size: 1em;
    outline: none;
    border: none;
    caret-color: var(--main-color);
}

.sub-cont button {
    background-color: var(--main-color);
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--main-color-alt);
    }
}

.sub-cont :is(button, input) {
    border-radius: 50px;
}



/************************** pricing plans **************************/
#pricing-plans {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);

}

.pricing-container {
    width: 75%;
    height: 100%;
    margin: auto;
    padding-top: var(--main-padding-top);
    gap: 50px;
    z-index: 2;
}

.plan {
    position: relative;
    width: 400px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;

    h3 {
        font-size: 1.6em;
        margin-block: 15px;
    }

    img {
        display: block;
        width: 100px;
        height: 100px;
    }
}

.plan:nth-child(2) {
    transform: translateY(-20px);
}

.plan::after,
.plan::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    background-color: rgba(224, 224, 224, 0.2);
    transition: all 0.3s ease;
    z-index: -1;
}

.plan::after {
    bottom: 0;
    right: 0;
}

.plan::before {
    top: 0;
    left: 0;
}

.plan:hover::after,
.plan:hover::before {
    width: 100%;
}

.plan>* {
    margin: auto;
    width: 80%;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 10%;
    width: 35px;
    padding: 15px 2px;
    background-color: var(--main-color);
    writing-mode: vertical-rl;
    line-height: 1.7;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
}

.ribbon::after,
.ribbon::before {
    content: "";
    position: absolute;
    top: 110px;
    width: 0px;
    height: 0px;
    border-style: solid;
    z-index: -1;
}

.ribbon::after {
    right: 0%;
    border-width: 50px 35px 0 0;
    border-color: var(--main-color) transparent transparent transparent;
}

.ribbon::before {
    right: 1%;
    border-width: 0 35px 50px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .amount {
        font-size: 3.4em;
        font-weight: 800;
        color: var(--main-color);
    }

    .per-time {
        color: gray;
    }
}

.plan ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 5px 0;
}

.plan li {
    width: 100%;
    font-size: 1.1em;
    padding: 15px 5px;
    border-top: 1px solid rgb(231, 229, 229);

    i {
        font-size: 1.3em;
        color: var(--main-color);
        font-weight: 800;
        margin: 0 10px;
    }
}

.choose-plan {
    background-color: white;
    color: var(--main-color);
    font-size: 1em;
    font-weight: 700;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choose-plan:hover {
    background-color: var(--main-color);
    color: white;
}


/************************* TOP VIDEOS *************************/
#top-videos {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.videos-container {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: var(--main-padding-top);
    background-color: #3b5998;
    border: 1px solid rgb(231, 229, 229);

}

.videos-left {
    background-color: white;
    border-right: 1px solid rgb(231, 229, 229);

    width: 300px;

    ul,
    li {
        width: 100%;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    span {
        display: block;

    }

    li {
        padding: 5px 10px;

        &:not(:first-child) {
            padding-block: 10px;

            border-top: 1px solid rgb(231, 229, 229);
        }
    }

    li:first-child {
        background-color: rgb(244, 244, 244);
        padding-block: 15px;

        h3 {
            font-size: 1em;
        }
    }


}

.vid-title:hover {
    color: var(--main-color);
    cursor: pointer;
}

.vid-duration {
    color: gray;
}

.videos-right {
    background-color: rgb(227, 227, 227);
    width: calc(100% - 300px);
    height: 100%;
    flex-direction: column;
    align-content: space-between;
    padding: 10px;
    img {
        display: block;
        width: 100%;
        height: 450px;
        margin-bottom: 80px;
    }

    p {
        align-self: flex-start;
        background-color: white;
        padding: 20px;
        width: 100%;
    }
}


/************************** STATS **************************/
#stats {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    flex-direction: column;
    background-image: url("../imgs/stats.jpg");
    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    &>* {
        z-index: 1;
    }
}
#stats::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.856);
}

.stats-container {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: var(--main-padding-top);
    gap: 20px;
}

.stat {
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    width: 350px;
    height: 200px;
    padding: 20px;
    gap: 1px;

    i {
        font-size: 1.9em;
    }

    .num {
        font-size: 3em;
        font-weight: 700;
    }

    .txt {
        font-size: 1.2em;
        font-weight: 700;
        color: var(--main-color);
        font-style: italic;
    }
}

.stat::before,
.stat::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: all 1s ease-in-out;
}

.stat::before {
    bottom: 0;
    left: 0;
}

.stat::after {
    top: 0;
    right: 0;
}

.stat:hover::before,
.stat:hover::after {
    height: 100%;
}



/************************** DISCOUNTS **************************/
#discounts {
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
   
}

.discounts-left,
.discounts-right,
form {
    flex-direction: column;
}

.discounts-left,
.discounts-right {

    width: 50%;
    height: 100vh;
    padding: 50px;
    gap: 20px;
    justify-content: space-around;
    h2 {
        font-size: 2.5em;
    }
}

.discounts-left {
    position: relative;
    background-color: #006f29;
    background-image: url("../imgs/discount/discount-background1.jpg");
    color: white;
    &>*{
        z-index: 1;
    }
    p {
        font-size: 1.3em;
        text-align: center;
        line-height: 1.7;
    }

    img {
        display: block;
        width: 450px;
        height: 370px;
    }
}
.discounts-left::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color:#2195f3ef;
}
.discounts-right{
    background-color: white;
}
.discounts-right form {
    width: 80%;
    height: 90%;
    gap: 25px;

    &>* {
        width: 270px;
        font-size: 1em;
        padding: 10px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(231, 229, 229);
        background-color: rgb(244, 244, 244);
        caret-color: var(--main-color);
    }
    textarea{
        resize: none;
        height: 200px;
    }
    button {
        color: white;
        background-color: var(--main-color);
        cursor: pointer;
        border: none;
        font-size: 1.3em;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--main-color-alt);
        }
    }
}



/*************************** FOOTER ***************************/
footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding-top: 2.5vh;

    img {
        display: block;
        width: 90px;
        height: 90px;
        border: 3px solid white;
    }
}

.footer-container {
    width: 92%;
    margin: auto;
    height: 95%;
    flex-wrap: wrap;
}

.footer-col:last-child {

    flex-wrap: wrap;
    gap: 5px;
}

.footer-col {
    height: 100%;
    width: 25%;
    padding: 1vh;

    i {
        color: var(--main-color);
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

    }

    li {
        display: flex;
        width: 90%;
        padding-block: 1vh;
    }
}

.footer-col:first-child {
    h3 {
        font-size: 2.9em;
    }

    p {
        line-height: 1.7;
        padding: 3vh 0;
    }

    &>* {
        margin: 10px 0;
    }

}

.footer-social {
    width: 100%;
    justify-content: left;
    gap: 6px;

    a {
        width: 50px;
        height: 50px;
        text-align: center;
        transition: all .3s ease;
        background-color: rgb(56, 55, 55);

        i {
            display: block;
            font-size: 1.4em;
            color: rgb(152, 149, 149);
        }
    }
}

#facebook:hover {
    background-color: #3b5998;
}

#twitter:hover {
    background-color: #00acee;
}

#youtube:hover {
    background-color: #ff0000;
}

.footer-col:nth-child(2) {
    li:not(:last-child) {
        border-bottom: 0.01em solid rgb(159, 157, 157);
    }

    li {
        opacity: 0.8;
        padding-block: 1.5vh;

        i {
            margin-right: 8px;

        }

        a {
            color: white;
        }
    }

    span {
        transition: all .3s ease;
        opacity: 0.7;
    }

    li:hover span {
        transform: translateX(8px);
        opacity: 1;
    }
}

.footer-col:nth-child(3) {

    ul,
    li {
        width: 100%;
        height: 100%;
    }

    li {
        display: flex;
        align-items: center;
        gap: 8px;

        i {
            margin-right: 8px;
            font-size: 1.7em;
        }
    }
}

.footer-cr {
    padding: 2vh;
    border-top: 0.01em solid rgb(159, 157, 157);
}


@media screen and (max-width: 485px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-col,
    .footer-col>* {
        width: 100%;
    }
}

@media screen and (max-width: 865px) {
    .footer-col {
        width: 45%;
    }
}



